
@import "node_modules/bootstrap/scss/bootstrap.scss";

$hightMini: 500px;

.HeadlineArticle {

    border: red 2px solid;
    min-height: $hightMini;
}

.MostPopularArticle {
    border: red 2px solid; 
    min-height: $hightMini;
}