
@import "node_modules/bootstrap/scss/bootstrap.scss";

.HeadlineArticle {    
    margin-top: 0px;
    // bottom: 0;
}


.h5, h5{
    padding-top: 0.3rem;
}

.imgStyle {
    width:120px;
    height:120px;
    margin-left:15px;
    float: right;
}

.divStyle{
    margin-left:10px;
    padding: 10px;
}
