@import "node_modules/bootstrap/scss/bootstrap.scss";

.rating {
   
    max-width: 300px;
    max-height: 400px;
    // object-fit: cover;
    padding: 10px;
    margin: 0px;
    // border: green 2px solid; 
    // border-radius: 30%;
    
}

// Individual articles
.writeRating {
    
    
    justify-content: center;

    h1 {
        border: 0px;
        background-color: white;
        color: black;
        font-size: 3rem;
    }

    h4 {
        text-align: center;
    }

  
    // .body {
    //     margin-top: 10px;
    //     border: 1px black solid;
    //     height: 500px;
    //     overflow-y: scroll;
    // }

}
