.containerBG {
    justify-content: center;
    border: 1rem black;
    margin: 15px 15px;
}

.articleDesc {
    margin-top: 50px;
    margin-bottom: 50px;
}

.articleBody {
    margin-top: 50px;
    margin-bottom: 10px;
}

