@import "node_modules/bootstrap/scss/bootstrap.scss";

img {
    max-width: 150px;
    max-height: 150px;
    // object-fit: cover;
    padding: 10px;
    margin: 0px;
}

.delete-btn{
    align-self: auto;
    float: right
}

.passwordHint{
    scale: 75%;
}

.user_real_name{
    font-size-adjust: 0.45;
}