Form {
    padding-top: 25px;

    .noMargin {
        padding: 0px;
        margin: 0px;
    }

    img {
        // object-fit: cover;
        // padding: 0px;
        // min-width: 100%;
        // min-height: 190px;
        // margin-top: 5px;
        object-fit:cover;
        padding: 0px;
        min-width: 68vw;
        // margin: 0 auto;
        min-height: 30vh;
        margin-top: 1vh;

        // @media screen and (min-width:100vh) {
        //     body { color:#555; }
        // }
    }
}

.FormRowSpacing {
    padding: 10px;

}

.FormRowPrice {
    padding: 6px;

}