.ContainerBody {
    margin-top: 10px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    width: auto;
    height: 900px;
}

.articleDesc {
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 0.05);
}

.articleBody {
    border: 2px solid rgba(0, 0, 0, 0.05);

}

.articleTitle {
    padding-left: 10px;
    font-size: 3rem;
    left: 50%;
}

.articleAuthor {
    font-size: 1rem;
    padding-left: 15px;
}

.statistics {
    border: 2px solid rgba(0, 0, 0, 0.05);
    background-color: grey;
}

.series {
    border: 2px solid rgba(0, 0, 0, 0.05);
    background-color: lightgray;
}

.tags {
    border: 2px solid rgba(0, 0, 0, 0.05);
}