

.addMargin{
    margin-top: 10px;
}

.searchFeature {
    width: 70%;
    margin: auto;
}

.CardArt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    margin-top: 25px;
    border-radius: 7px;
    box-shadow: 5px 4px 4px 4px rgb(172, 171, 171);

    input {
        padding: 0px;
        border: 0;
        background-color: inherit;
        color: blue;
    }

    .CardHeader {
        background: #ffffff !important;
        padding:4px 10px 4px 10px;
        line-height: 1;
    }

    .CardBody {
        padding: 0px;   
        margin: 0px;
        
        .CardText {
            margin: 0px 0px 5px 0px;
            padding: 10px;
            overflow-y: scroll;
            max-height: 12vh;
            font-family: Noto Serif;
        }

    }

    .IACardFooter {
        background: rgb(255, 255, 255);
        padding: 0px 0px 0px 10px;
        // max-height: 3vh;
        // padding-left: 1vw;
        display:flex;
        align-items: center;
    }
}

.filter {
    max-width: 65%;
    margin-left: 5%;
}


@media screen and (max-width:700px){
    .CardFeatured {
        display: none;
        color: green;
    } 
}


.isPremium{
    float:right
}
