
.Card {
    max-width: 100%;
    margin-top: 15px;
    // margin-left: 5%;

    input {
        padding: 0px;
        border: 0;
        background-color: inherit;
        color: blue;
    }
}

.CardFeatured {
    float:right;
    margin-top: 72px;
    margin-right: 5%!important;
    max-width: 25%;
    text-align: center;

    
}

.filter {
    max-width: 65%;
    margin-left: 5%;
}


@media screen and (max-width:700px){
    .CardFeatured {
        display: none;
        color: green;
    } 
}

.CardHeader {
    background: #e2e2e2 !important;
}

