.addMargin{
    margin-top: 10px;
}

.searchFeature {
    width: 70%;
    margin: auto;
}

.CardParent {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    margin-top: 25px;
    border-radius: 7px;
    box-shadow: 3px 3px 3px 3px rgb(156, 165, 163);

    .CardTitleLink {
        font-size: 1.2rem;
    }

    p {
        margin: 0px;
        padding: 0px;
    }


    .CardColImg {
        max-width: 225px;
        // margin: 0px;
        padding: 3px;
    }

    .CardColData {
        padding: 0px 0px 0px 17px;
        margin: 10px;
        max-width: 325px;
    }

    .CardColDesc {
        height: 100%;
        margin: 7px;
        padding: 0px 0px 0px 0px;
        overflow-y: scroll;
        scrollbar-color: #807f7f rgb(197, 197, 195);
        scrollbar-width: thin;
        max-height: 14vh;
        font-family: PT Serif;
        
       
    }

    img {
        min-height: 150px;
        min-width: 200px;
    }

    .CardCategory {
        position: absolute;
        bottom: 0;
    }

    .CardNIA {
        text-align: center;
        align-items: middle;
    }

    .isPremium{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
}

@media only screen and (max-width: 400px) {
    .CardParent {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    // .CardColDesc {
    //     height: 100%;
    // }
  }
