.IAHeadline {
    font-size: 5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
    line-height: 1em;
    margin-bottom: 0px;
}

.artBodyParent {
    margin-top: 8vh;
    text-align: center;
}


section {
    width: 70%;
    margin: 0 auto;

    .mainImg {
        object-fit:cover;
        padding: 0px;
        min-width: 68vw;
        // margin: 0 auto;
        min-height: 30vh;
        margin-top: 1vh;

        // @media screen and (min-width:100vh) {
        //     body { color:#555; }
        // }
    }

    .description {
        max-height: 55vh;
        min-width: 50vh;
        margin-left: 0px;
        padding-bottom: 2vh;

        overflow-y: scroll;
        scrollbar-width: none;

        //not working yet
        // @media screen and (min-width:90%) {
        //     body { color:#555; }
        // }
    }  

    .iArticleInfo {
        // margin-top: -20px;
        margin-left: 2vw;

        .pTag {
            margin: 0px;
            font-size: 1.1rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        .iAAuthor {
            float:right;
            margin: 0px;
            font-size: 1.1rem;
            // font-style: italic;
            padding-right: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }

    .ratingAndDesc {

        .ratingArea {
            max-width: 27%;
        }

        .descArea {
            height: 20vh;
            overflow-y: scroll;
            scrollbar-width:thin;
            scrollbar-color:#363535 ;
            white-space: pre-wrap;
            // direction: rtl;
    
        }

    }

    .articleDetails {
        font-size: 2vh;
    }
}

.iABody {
    white-space: pre-wrap;
}

@media screen and (max-width:768px) {
    section {
        .ratingAndDesc {
            .descArea { display: flex }
        }
    }
}

.socialMedia {

    img {
        width: 25px;
        height: 25px;
        padding: 0px;
        margin-left: 1px;
    }
}  

.popup-box {

    background: #ffffff2a;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.box {
    position: fixed;
    bottom: 0;
    width: 70%;
    margin: 0 auto;
    height: 20%;
    max-height: 70vh;
    background: #ffffff;
    border-radius: 4px;
    padding: 40px;
    border: 1px solid #999;
}

.close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(34.5% - 30px);
    top: calc(100vh - 15vh - 33px);
    background: #d3d3d3;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
}
