.pageSize {
    margin-left: 1vh;
}
.userArticleList {
    min-width: 22%;
    min-height: 100vh;

    .seriesCreate {
        color: blue;
        background: none;
        border: hidden;
        padding: 4px;
        margin: 0px;
    }

}

.userArticleListCol {
    width: 0px;
}

.selectedArticle {
    width: 80%;
    margin: 1vw;
    margin-top: 0px;
    height: 10%;

    .FormLabels {
        font-size: 1.3rem;
    }
    
}


// .radioButtons {
//    border: 1px solid lightgray;
//    border-radius: 5px;

// }

.description {
    min-height: 15vh;
    overflow-y: scroll;
}

.body {
    min-height: 40vh;
    // max-width: 100%;
    // overflow-x:scroll;

}
   