

// .adminTable {
    
 
//   }

.adminTable  {
  
  margin: 45px 0px;
  padding: 12px;
 
  font-weight: 450;
 
  // &:hover {
  //   font-weight:700;

  // }
  // &:focus{
  //    font-weight: 700;
      
  // }
}
