@import "node_modules/bootstrap/scss/bootstrap.scss";

.seriesBody {
    width: 90%;
    margin: 0 auto;
}

.sCards {
    margin-top: 15px;
    padding: 0px;
    max-width: 15vw;
    max-height: 35vh;
    border: 2px black solid;
    

    .scBody {
        padding: 0px;
        margin: 0px;
        background: rgb(231, 230, 230);
        text-align: center;
    }

    .scTitle {
        font-size: 1.5rem;
        text-align: center;
    }

    .card-image-top {
        min-width: 100%;
        padding: 0px;
    }

    .scFooter {
        text-align: center;
    }
}

h2 {
    // font-size: 5rem;
    color: white;
    text-align: center;
}

