.signup-ctr{
    border: 3px;
    width: 70%;
    margin: auto;
    height: auto;
}

.signup{
    padding: 10px;
    margin: 5px;  
}

.signup-txt{
    padding-bottom: 20px;
}

.name{
    width: 100%;
    position: relative;
}

.submit{
    padding-top: 5px;
    margin-top: 5px;
    width: 20%;
    margin-left: auto;
    display: block;
}