.Container {
    position: relative;

    Form {
        border: 1px solid #d47501;
        background-color: #e9e8e8;
        width: 50vh;
        min-height: 50vh;
        font-size: 2.2rem;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding: 10px;
    }

}

h1 {
    border-bottom: 1px solid black;
    background-color: #363535;
    color:white;
    text-align: center;

}

.RememberMe {
    font-size: 1rem;
}

// .ButtonSubmit {
//     color:white;
//     background-color: rgb(36, 36, 36);
//     border: none;
//     margin-left: 240px;
// }