.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #363535;
    border: 2px solid #da8d00;
    // align-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: lightgray;
  }

