@import "node_modules/bootstrap/scss/bootstrap.scss";

.footer{
    position:relative;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #363535;
    border: 2px solid #d47501;
    // align-content: center;
    bottom: 0;
    width: 100%;
    color:white;
  }

.navbarBG{
  height: 9vh;
  background-color: #363535;
  border: 2px solid #d47501;
  font-size: 1.1rem;
  // padding-bottom: 15px;
  color: lightgray;
  margin-bottom: 1rem;

}

.navFont {
  color: lightgray;
}

