@import "node_modules/bootstrap/scss/bootstrap.scss";

 $paddingTop: 15px;

.horizontal-organization-list {
    // padding-top: $paddingTop;
    Form {
        padding-top: 0px;
    }
}

.search-filter {
    padding-top: $paddingTop;
}

.trending-organization {
    // border: 2px solid red;
    padding-top: $paddingTop;
    table {
        margin-bottom: 0;
    }

    h3 {
        padding-bottom:15px ;
        text-align: center;
    }

    
    
}

.Container {
    margin-left: 40%;
    margin-right: 40%;
    display: inline-block;
    text-align: center;
}

.view-org-button{
    display:inline-block;
    margin-left: 30%;
    margin-right: 40%;
    margin-top: 8px;
    width: 100px;
}

.new-org-button{
    float: right;
}