.TableBody {
    border: black solid 1px;
    margin-top: 0px;
    width: 25vh;
    // height: 65vh;
    background-color: darkgrey;
}

// .thead {
//     height:25px;
// }

.ContainerBody {
    border: black solid 1px;
    // height: 65vh;
}

.selectArticle {
    width: 25vh;
}